<h1>Listing usuarios</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Paterno</th>
    <th>Materno</th>
    <th>CI</th>
    <th>Foto</th>
    <th colspan="3">&nbsp;</th>
  </tr>

<% @usuarios.each do |usuario| %>
  <tr>
    <td><%=h usuario.nombre %></td>
    <td><%=h usuario.paterno %></td>
    <td><%=h usuario.materno %></td>
    <td><%=h usuario.ci %></td>
    <td><%= image_tag(usuario.foto(:mini)) %></td>
    <td><%= link_to 'Show', usuario %></td>
    <td><%= link_to 'Edit', edit_usuario_path(usuario) %></td>
    <td><%= link_to 'Destroy', usuario, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New usuario', new_usuario_path %>
