<h1>Usuario</h1>

<%= link_to 'Editar', edit_usuario_path(@usuario) %> |
<%= link_to 'Lista', usuarios_path %>

<p>
  <b>Nombre:</b>
  <%=h @usuario.nombre %>
</p>

<p>
  <b>Paterno:</b>
  <%=h @usuario.paterno %>
</p>

<p>
  <b>Materno:</b>
  <%=h @usuario.materno %>
</p>

<p>
  <b>Ci:</b>
  <%=h @usuario.ci %>
</p>


<%= render :partial => "/registros/detalle_usuario" %>
