<style>
  .label{
    width: 5em;
    display: inline-block;
  }
  label{width: 7em; display: inline-block;}
</style>

<h1>Usuario</h1>


<%= link_to 'Editar', edit_usuario_path(@usuario) %> |
<%= link_to 'Lista', usuarios_path %>
<br/>
<br/>

<div class="cb">
  <%= image_tag @usuario.foto(:medium), :class => 'fl' %>
  <div style="float:left">
    <p>
      <b class="label">Nombre:</b>
      <%=h @usuario.nombre %>
    </p>

    <p>
      <b class="label">Paterno:</b>
      <%=h @usuario.paterno %>
    </p>

    <p>
      <b class="label">Materno:</b>
      <%=h @usuario.materno %>
    </p>

    <p>
      <b class="label">CI:</b>
      <%=h @usuario.ci %>
    </p>
  </div>
</div>
<br class="cb" />
<br/>

<h2>Horarios de Entrada y Salida</h2>

<fieldset style="width:20em">
  <legend>Buscar entre fechas</legend>
  <%= form_tag(@usuario, :method => "get") %>
    <label for="fecha_inicial">Fecha inicial</label>
    <input type="text" class="fecha" name="fecha_inicial" autocomplete="off" value="<%= Date.today.strftime("%d-%m-%Y") %>" /><br/>
    <label for="fecha_inicial">Fecha final</label>
    <input type="text" class="fecha" name="fecha_final" autocomplete="off" value="<%= Date.today.strftime("%d-%m-%Y") %>" /><br/>
    <input type="submit" value="Buscar">
  </form>
</fieldset>

<div id="registros">
  <%= render :partial => "/registros/detalle_usuario" %>
</div>

<script>
  $(document).ready(function() {
    $('form').submit(function() {
      $.get($(this).attr("action"), $(this).serialize(), function(resp) {
        $('#registros').hide()
        .fadeIn(300).html(resp);
      });
      
      return false;
    });
  });
</script>
