<h1>New registro</h1>

<%= image_tag(@usuario.foto(:medium)) if @usuario and @usuario.foto_file_name.nil? == false %>

<% form_for(@registro) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :ci %><br />
    <%= f.text_field :ci %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', registros_path %>
