<% title("Nuevo Registro") %>
<h1>Nuevo registro</h1>

<%= image_tag(@usuario.foto(:medium)) if @usuario and @usuario.foto_file_name.nil? == false %>

<% form_for(@registro) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :ci, "Cédula de Identidad", :class => 'l' %><br />
    <%= f.text_field :ci, :autocomplete => 'off', :class => 'xl', :size => 20 %>
  </p>
  <p>
    <%= f.submit 'Salvar' %>
  </p>
<% end %>

<%# link_to 'Back', registros_path %>
